* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  color: var(--color-primary-1);
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  width: 100dvw;
  position: relative;
  color: white;

  & .wallpaper {
      position: absolute;
      object-fit: cover;
      z-index: -1;
      width: 110%;
      height: 120vh;
      overflow: hidden;
      filter: sepia(0.4) hue-rotate(-10deg) opacity(0.6);
  }

}

div.second-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  & > div.first-content {
      color: antiquewhite;
      display: flex;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border: 2px solid rgba(245, 245, 245, 0.212);
      border-radius: 15px;
      background: rgba(41, 189, 53, 0.616);
      width: 20%;
      padding: 5rem;
      }

      & > img {
        padding-top: 5rem;
        height: 850px;
    }

  & > div.second-content {
      color: rgb(252, 252, 252);
      display: flex;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border: 2px solid rgba(245, 245, 245, 0.212);
      border-radius: 15px;
      background: rgba(41, 189, 53, 0.616);
      width: 20%;
      padding: 5rem;
  }
}